.form-container {
  
}

.firstPage {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.div1 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 350px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(202, 201, 201);
  padding: 10px;

}

.firstPage h1 {
  font-weight: bolder;
  font-size: 1.5rem;
}

.fine button {
  font-weight: bold;
  background-color: rgb(16, 246, 16);
  border-radius: 30px;
    border: 2px solid rgb(16, 246, 16);

  transition: border 0.2s ease-in-out , background-color 0.2s ease-in-out;
}

.fine button:hover {
  background-color: rgb(2, 180, 2);
  border: 2px solid black;
}


.splcolor{
    font-size: 2rem;
    
}

.hhh{
font-size: 7rem;
}
