.loginPage button {
  width: 50%;
  margin-left: 25%;
  color: black;
  font-weight: bold;
  background-color: none !important;
  border-radius: 30px;
  border: 2px solid blue;

  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.loginPage button:hover {
  background-color: blue;
}

.loginPage h2 {
  color: blue;
  text-align: left;
  font-size: 1.5rem;
}

.loginPage form input {
  border-radius: 10px;
  border-bottom: 20px;
  background-color: none !important;
  background: none !important;
  border-bottom: 2px solid black;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

input:focus {
  outline: none;
}

/* Resgister Page Styles */
.ragisterPage {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.div2 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 7px;
  border: 2px solid rgb(230, 229, 229);
  padding: 20px;
}

.div2 .buttons {
  width: 50%;
  margin-left: 25%;
  color: black;
  font-weight: bold;
  background-color: none !important;
  border-radius: 30px;
  border: 2px solid blue;

  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.buttons:hover {
  background-color: blue;
}

.div2 form input {
  border-radius: 10px;
  border-bottom: 20px;
  background-color: none !important;
  background: none !important;
  border-bottom: 2px solid black;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
}
